@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html {
    @apply bg-gray-50 dark:bg-gray-950;
  }

  body {
    @apply bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-white antialiased;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}